body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #7230ff;
    color: white;
    padding: 1em 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #905cff;
    padding: 0.5em 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}
nav a:hover {
    text-decoration: underline;
}
.content {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #1b1448;
    color: white;
    text-align: center;
    padding: 1em 0;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
